
.control-video{
  width: 640px;
  position:relative
}
@media screen and (max-width: 700px) {
  .control-table {
  
    margin-top: 9px;
  }
  .table-class {
    margin-top: 0px !important;
  }
 .html5-video-player  {
    width: 50%;
  }
  /* .video-player{
    width: 100vw !important;
  } */
  .control-video{
  width: 100vw;
  
}
}
